<div class="text-center">
    <div class="mx-md-1 mx-sm-0 fi fi-de"></div>
    <div class="mx-md-1 mx-sm-0 fi fi-at"></div>
    <div class="mx-md-1 mx-sm-0 fi fi-be"></div>
    <div class="mx-md-1 mx-sm-0 fi fi-bg"></div>
    <div class="mx-md-1 mx-sm-0 fi fi-cy"></div>
    <div class="mx-md-1 mx-sm-0 fi fi-hr"></div>
    <div class="mx-md-1 mx-sm-0 fi fi-dk"></div>
    <div class="mx-md-1 mx-sm-0 fi fi-es"></div>
    <div class="mx-md-1 mx-sm-0 fi fi-ee"></div>
    <div class="mx-md-1 mx-sm-0 fi fi-fi"></div>
    <div class="mx-md-1 mx-sm-0 fi fi-gr"></div>
    <div class="mx-md-1 mx-sm-0 fi fi-hu"></div>
    <div class="mx-md-1 mx-sm-0 fi fi-ie"></div>
    <div class="mx-md-1 mx-sm-0 fi fi-is"></div>
    <div class="mx-md-1 mx-sm-0 fi fi-it"></div>
    <div class="mx-md-1 mx-sm-0 fi fi-lv"></div>
    <div class="mx-md-1 mx-sm-0 fi fi-li"></div>
    <div class="mx-md-1 mx-sm-0 fi fi-lt"></div>
    <div class="mx-md-1 mx-sm-0 fi fi-lu"></div>
    <div class="mx-md-1 mx-sm-0 fi fi-mt"></div>
    <div class="mx-md-1 mx-sm-0 fi fi-no"></div>
    <div class="mx-md-1 mx-sm-0 fi fi-nl"></div>
    <div class="mx-md-1 mx-sm-0 fi fi-pl"></div>
    <div class="mx-md-1 mx-sm-0 fi fi-pt"></div>
    <div class="mx-md-1 mx-sm-0 fi fi-cz"></div>
    <div class="mx-md-1 mx-sm-0 fi fi-ro"></div>
    <div class="mx-md-1 mx-sm-0 fi fi-sk"></div>
    <div class="mx-md-1 mx-sm-0 fi fi-si"></div>
    <div class="mx-md-1 mx-sm-0 fi fi-se"></div>
    <div class="mx-md-1 mx-sm-0 fi fi-ch"></div>
</div>
</div>
