{% extends 'base.html.twig' %}

{% block title %}{% trans %}home.situation.title{% endtrans %}{% endblock %}

{% block body %}
    <div class="theme-light p-2">
        <h1 class="text-center display-5 text--primary fw-bold am-font-narrow mb-0">
            {% trans %}home.situation.heading{% endtrans %}
        </h1>
        {% include 'home/_flags.html.twig'%}
    </div>
    {% for i in 0..4 %}
        {# Ajout d'un espace vertical sur les grands écrans #}
        <div class="mt-md-5 mt-lg-5" style="min-height: 100%"></div>
    {% endfor %}
    <div class="card text-bg-dark" style="--bs-bg-opacity: 70%;">
        <div class="card-header text-center fw-bold fs-5">
            {% trans %}home.situation.inscription_en_ligne{% endtrans %}
        </div>
        <div class="card-body">
            <twig:SelectSituation />
        </div>
    </div>
{% endblock %}
