<footer class="fixed-bottom bg-white py-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col"></div>
            <div class="col text-center">
                <a href="#" data-bs-toggle="modal" data-bs-target="#cgu">
                    {% trans %}footer.mentions_legales_cgu.lien{% endtrans %}
                </a>

            </div>
            <div class="col text-end">@ CNAM {{ annee_derniere_livraison }} | v{{ version }}</div>
        </div>
    </div>

</footer>
