<div {{ attributes }} class="alert alert-info d-flex align-items-center" role="alert">
    <i class="bi bi-info-circle fs-3 mx-3" aria-hidden="true"></i>
    <ul>
        <li>
            {% trans %}components.ListeRessourcesFoyer.salaires{% endtrans %}
        </li>
        <li>
            {% trans %}components.ListeRessourcesFoyer.aides_sociales{% endtrans %}
        </li>
        <li>
            {% trans %}components.ListeRessourcesFoyer.revenus_fonciers{% endtrans %}
        </li>
        <li>
            {% trans %}components.ListeRessourcesFoyer.pension_alimentaire{% endtrans %}
        </li>
        <li>
            {% trans %}components.ListeRessourcesFoyer.epargne{% endtrans %}
        </li>
    </ul>
</div>
